.mobile-avalible-icon {
    position: relative;
    padding-left: 35px; /* Отступ для иконки */
    display: inline-flex;
    align-items: center;
    min-height: 30px; /* Минимальная высота для выравнивания */
}

.mobile-avalible-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(/images/icons/icon-promo-line-news.png) center / contain no-repeat;
    flex-shrink: 0; /* Запрещаем сжатие */
}
/* Стили для мобильного сообщения */
.mobile-block-message {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1a1a1a 0%, #2c2c2c 100%);
    color: #f6efd9;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}

.message-content h2 {
    position: relative;
    color: #f6efd9;
    margin-bottom: 20px;
    font-size: 18px;
}

.message-content p {
    color: #a1a194;
    font-size: 14px;
    line-height: 1.5;
    max-width: 400px;
    margin-bottom: 10px;
}

.message-footer small {
    color: #5b605f;
    font-size: 12px;
}
.message-image img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    object-fit: contain;
    background: transparent;
    opacity: 0.3;
    filter: grayscale(0.9);
}

/* Стили для языкового переключателя в мобильном сообщении */
.language-switcher-mobile {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.language-switcher-mobile::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Указываем нужную ширину линии */
    height: 1px;
    background-color: #464646;
}

.language-switcher-mobile .language-flag {
    width: 25px;
    height: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    object-fit: cover;
    opacity: 0.6;
}

.language-switcher-mobile .language-flag.active {
    border-color: #ff6600;
    box-shadow: 0 0 8px rgba(255, 102, 0, 0.6);
    opacity: 1;
}

.language-switcher-mobile .language-flag:hover {
    transform: scale(1.1);
    opacity: 0.6;
}